<div *ngIf="question">

        <div class="p-4" [ngClass]="getClass()">

        <app-answers-list 
         [list]="question.answers"
         (onUserAnswer) = "setUserAnswer($event)"
         >
        </app-answers-list>

        <button (click)="goToPreviusQuestion()" class="btn btn-primary">
                previus
        </button>

        <button (click)="goToNextQuestion()" class="btn btn-primary">
                next
        </button>

        </div>

        <pre>
        {{question|json}}

        </pre>
</div>

<div *ngIf="!question">

        🤷‍♀️ Aspetta un momento

</div>