
<!--<h1>{{service.getCurrentIndex()+1}}/{{service.getQuestions().length}}</h1>
<button (click) = "goPreviousQuestion()">Previous</button>
<button (click) = "goNextQuestion()">Next</button>
<pre>{{question.question | json}}</pre>
<pre>{{service.getCurrentQuestion() | json}}</pre>
<ol>
    <li *ngFor="let answer of question.answers">{{answer}}</li>
</ol>-->
<app-question-space [question]="question">

</app-question-space>
<app-answer-list 
        [list]="question.answers"
        [itemSelected]="question.userAnswer"
        (onSelected)="setUserAnswer($event)"
>
        
</app-answer-list>

<button (click)="goPreviousQuestion()"     
        class="btn btn-primary">
        previous
</button>

<button (click)="goNextQuestion()" 
        class="btn btn-primary">
                next
</button>

<div *ngIf="isDoneCount === service.getQuestions().length">
        <app-result [questions]="service.getQuestions()"></app-result>
</div>
