<header class="px-0 pt-1 border-bottom border-secondary mb-3">
    <pre class="text-danger">
        {{question|json}}
    </pre>
    <hr>
    <b class="header__label">{{question.category}}</b>
    <div class="text-danger">(hard) difficltà</div> 
    <p class="header__text">
        header text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quae, praesentium, non dolore molestiae necessitatibus deleniti earum sequi asperiores, exercitationem expedita deserunt quas? Veniam sed excepturi ab maxime voluptatibus adipisci?
    </p>
</header>
